<div id="response">
  <h1>We hope you can join us</h1>

  <form id="response-form">
    <input type="hidden" name="invitation[id]" value="{{invitation.id}}" id="invitation-id">
    <table>
      <tr>
        <th></th>
        <th></th>
        <th>E-mail Address</th>
        <th>Reception Dinner?</th>
      </tr>
      {{#each guests}}
      <tr class="{{evenOdd @index}} guest">
        <th class="row name" id="guests-{{id}}-name-cell">
          <input type="text" name="guests[{{@index}}][name]" value="{{name}}" readonly class="name">
          <input type="hidden" name="guests[{{@index}}][id]" value="{{id}}">
          <input type="hidden" name="invitation[guests][]" value="{{id}}">
        </th>
        <td class="attending" id="guests-{{id}}-attending-cell">
          {{attending_control attending @index}}
        </td>
        <td class="email_address" id="guests-{{id}}-email_address-cell">
          <input type="text" name="guests[{{@index}}][email_address]" value="{{email_address}}" placeholder="to receive e-mail updates">
        </td>
        <td class="entree_choice" id="guests-{{id}}-entree_choice-cell">
          {{entree_choice_control entree_choice @index}}
        </td>
      </tr>
      {{/each}}
      <tr id="hotel-row" class="for-all {{evenOddAfterList guests 0}}">
        <th class="row">Hotel</th>
        <td colspan="3">
          <input type="text"
                 name="invitation[hotel]"
                 value="{{invitation.hotel}}"
                 placeholder="Where will you be staying when you're in Chicago?">
        </td>
      </tr>
      <tr id="comments-row" class="for-all {{evenOddAfterList guests 1}}">
        <th class="row">Comments</th>
        <td colspan="3">
          <textarea name="invitation[response_comments]" placeholder="Is there anything else you'd like us to know?">{{invitation.response_comments}}</textarea>
        </td>
      </tr>
    </table>

    {{#any_rehearsal_dinner guests}}
    <div id="rehearsal-dinner">
      <h2>Rehearsal dinner</h2>
      <p>
      We would like to invite you to the rehearsal dinner. It will be on Friday
      evening at around 6pm. Please let us know if you'll be able to join us.
      <p>
      We'll send specifics in an e-mail closer to the
      date. Please enter at least one e-mail address for your party (above).

      <ul id="attending_rehearsal_dinner-row">
        {{#each guests}}
          {{#if invited_to_rehearsal_dinner}}
          <li id="guests-{{id}}-attending_rehearsal_dinner-cell" class="{{evenOdd @index}}">
            <input type="hidden" name="guests[{{@index}}][invited_to_rehearsal_dinner]" value="{{invited_to_rehearsal_dinner}}">
            <em class="name">{{name}}</em>
            {{attending_rehearsal_dinner_control attending_rehearsal_dinner @index}}
          </il>
          {{/if}}
        {{/each}}
      </ul>
    </div>
    {{/any_rehearsal_dinner}}

    <p>
    Please note: if you need to change any selections on this page, please feel
    free to come back any time before <em>May 1</em>.
    But don't lose your RSVP code! It's <strong>{{invitation.id}}</strong>.

    <div id="submit">
      <span id="result-flash"></span><input type="submit" value="Send RSVP">
    </div>
  </form>
</div>
